GitPython
jupyter
pydantic
pydantic[email,dotenv]
pandas
paramiko
plotly
pyodbc
py7zr
psycopg2-binary
pywin32;sys_platform == 'win32'
pywinpty>=1.1.0;os_name == 'nt'
ptyprocess;os_name != 'nt' 
requests
requests-cache
requests-oauthlib
SQLAlchemy
